@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <p style="color: white; margin: 8px; font-size: 0.9rem;">
            Non c'è nessun obbligo di usare queste parole in gioco.
            Questa app è stata creata per facilitare la lettura del background, del forum e dei libri.
        </p>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
